<div id="add-link-dialog" class="modal mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 1000px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Add note link</h5>

                <button type="button" class="help-button" title="帮助链接" data-help-page="Links">?</button>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0 !important;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-link-form">
                <div class="modal-body">
                    <div id="add-link-type-div" class="radio">
                        <label title="在活动笔记中的光标处添加HTML链接">
                            <input type="radio" name="add-link-type" value="html"/>
                            添加HTML链接</label>

                        <label title="将所选笔记添加为活动笔记的子项">
                            <input type="radio" name="add-link-type" value="selected-to-active"/>
                            将所选笔记添加到活动笔记</label>

                        <label title="将活动笔记添加为所选笔记的子项">
                            <input type="radio" name="add-link-type" value="active-to-selected"/>
                            将活动笔记添加到所选笔记</label>
                    </div>

                    <div class="form-group">
                        <label for="note-autocomplete">笔记</label>

                        <div class="input-group">
                            <input id="note-autocomplete" class="form-control" placeholder="按名称搜索笔记">
                        </div>
                    </div>

                    <div class="form-group" id="add-link-title-form-group">
                        <label for="link-title">Link title</label>
                        <input id="link-title" class="form-control" style="width: 100%;">
                    </div>

                    <div class="form-group" id="add-link-prefix-form-group" title="克隆的笔记将显示在带有给定前缀的笔记结构树中">
                        <label for="clone-prefix">前缀 (optional)</label>
                        <input id="clone-prefix" class="form-control" style="width: 100%;">
                    </div>
                </div>
                <div class="modal-footer" style="display: flex; justify-content: space-between;">
                    <button type="submit" class="btn btn-primary">添加笔记链接 <kbd>enter</kbd></button>
                </div>
            </form>
        </div>
    </div>
</div>
