<div id="help-dialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="min-width: 100%; height: 100%; margin: 0;">
        <div class="modal-content" style="height: auto;">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">帮助 (<a class="external" href="###">在线文档</a>)</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: auto; height: calc(100vh - 70px);">
                <div class="card-columns help-cards">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">笔记导航</h5>

                            <p class="card-text">
                                <ul>
                                    <li><kbd>UP/DOWN</kbd> - 在笔记列表中上/下</li>
                                    <li><kbd>LEFT/RIGHT</kbd> - 折叠/展开节点</li>
                                    <li><kbd>ALT+LEFT/RIGHT</kbd> - 在历史访问中前进/前进</li>
                                    <li><kbd>CTRL+J</kbd> - 打开 "打开笔记" 窗口</a></li>
                                    <li><kbd>CTRL+.</kbd> - 滚动到活动笔记</li>
                                    <li><kbd>BACKSPACE</kbd> - 跳到父笔记</li>
                                    <li><kbd>ALT+C</kbd> - 折叠整个笔记结构树</li>
                                    <li><kbd>ALT+-</kbd> (alt+减号) - 折叠子树</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">页签快捷方式</h5>

                            <p class="card-text">
                            <ul>
                                <li><kbd>CTRL+click</kbd> (或鼠标中键) 在新的页签卡中打开笔记</li>
                            </ul>

                            仅限桌面版：
                            <ul>
                                <li><kbd>CTRL+T</kbd> 打开空页签</li>
                                <li><kbd>CTRL+W</kbd> 关闭活动页签</li>
                                <li><kbd>CTRL+Tab</kbd> 点击下一个页签</li>
                                <li><kbd>CTRL+Shift+Tab</kbd> 点击上一个页签</li>
                            </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">创建笔记</h5>

                            <p class="card-text">
                                <ul>
                                    <li><kbd>CTRL+O</kbd> - 在活动笔记后新增新笔记</li>
                                    <li><kbd>CTRL+P</kbd> - 在活动笔记中创建新的子笔记</li>
                                    <li><kbd>F2</kbd> - 编辑活动笔记克隆的前缀</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">移动/克隆笔记</h5>

                            <p class="card-text">
                                <ul>
                                    <li><kbd>CTRL+UP/DOWN</kbd> - 在笔记列表中向上/向下移动笔记</li>
                                    <li><kbd>CTRL+LEFT/RIGHT</kbd> - 在层次结构中移动笔记</li>
                                    <li><kbd>SHIFT+UP/DOWN</kbd> - 上/下方的多选笔记</li>
                                    <li><kbd>CTRL+A</kbd> - 选中当前级别的所有笔记</li>
                                    <li><kbd>CTRL+click</kbd> - 选中笔记</li>
                                    <li><kbd>CTRL+C</kbd> -  将活动（或当前选择）笔记复制到剪贴板（用于克隆笔记)</li>
                                    <li><kbd>CTRL+X</kbd> - 将活动（或当前选择）笔记剪切到剪贴板（用于移动笔记）</li>
                                    <li><kbd>CTRL+V</kbd> - 将笔记作为子笔记粘贴到活动笔记中（根据是复制还是剪切操作执行移动或克隆）</li>
                                    <li><kbd>DEL</kbd> - 删除笔记/子树</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">编辑笔记</h5>

                            <p class="card-text">
                                <ul>
                                    <li><kbd>ENTER</kbd> - 在树中从树节点切换到笔记标题。从笔记标题切换焦点到文本编辑器中。<kbd>CTRL+.</kbd> 从编辑器切换回树节点。</li>
                                    <li><kbd>CTRL+K</kbd> - 创建/编辑外部链接</li>
                                    <li><kbd>CTRL+L</kbd> - 创建内部链接</li>
                                    <li><kbd>ALT+T</kbd> - 在光标处插入当前日期和时间</li>
                                    <li><kbd>CTRL+.</kbd> - 跳到树窗口并滚动到活动笔记处</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Markdown-like autoformatting</h5>

                            <p class="card-text">
                                <ul>
                                    <li><kbd>#</kbd>, <kbd>##</kbd>, <kbd>###</kbd> etc. 等等 空格开后跟标题</li>
                                    <li><kbd>*</kbd> 或 <kbd>-</kbd> 空格开，子弹列表（bullet）</li>
                                    <li><kbd>1.</kbd> 或 <kbd>1)</kbd> 空格开，编号列表</li>
                                    <li><kbd>&gt;</kbd>另起一行 , 空格开，block quote</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">故障排除</h5>

                            <p class="card-text">
                                <ul>
                                    <li><kbd>F5</kbd> 或 <kbd>CTRL-R</kbd> - 重新加载界面</li>
                                    <li><kbd>CTRL+SHIFT+I</kbd> -展示开发人员工具</li>
                                    <li><kbd>ALT+O</kbd> - 显示SQL控制台</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">其他</h5>

                            <p class="card-text">
                                <ul>
                                    <li><kbd>ALT+M</kbd> - 沉浸式模式 - 仅显示笔记编辑器，其他一切都隐藏</li>
                                    <li><kbd>CTRL+S</kbd> - 在树中搜索</li>
                                    <li><kbd>CTRL+F</kbd> - 在页面中搜索</li>
                                    <li><kbd>ALT+A</kbd> - 显示笔记属性信息框</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
