<div id="link-map-dialog" class="modal fade mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" style="max-width: 90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="width: auto;">链接地图-设置</h5>

                <div style="vertical-align: middle;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input link-map-settings" type="checkbox" id="link-map-hyper">
                        <label class="form-check-label" for="link-map-hyper">文本链接</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input link-map-settings" type="checkbox" id="link-map-image">
                        <label class="form-check-label" for="link-map-image">图像链接</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input link-map-settings" type="checkbox" id="link-map-relation">
                        <label class="form-check-label" for="link-map-relation">关系</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input link-map-settings" type="checkbox" id="link-map-relation-map">
                        <label class="form-check-label" for="link-map-relation-map">关系图链接</label>
                    </div>

                    <div style="display: inline-block; position: relative; top: -3px;">
                        <label for="link-map-max-notes" title="显示的最大笔记数">
                            <strong>最大显示笔记数:</strong>
                        </label>

                        <input id="link-map-max-notes" type="number" value="50" min="5" max="1000" step="5"
                               class="form-control form-control-sm"
                               style="width: 80px; display: inline-block; text-align: right;"/>
                    </div>
                </div>

                <div style="display: inline-block;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0;">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <button class="help-button" type="button" data-help-page="Link-map" title="链接地图帮助">?</button>
                </div>
            </div>
            <div class="modal-body" style="outline: none; overflow: hidden;">
                <div id="link-map-container"></div>
            </div>
        </div>
    </div>
</div>
