<div class="note-detail-empty note-detail-component">
    <div class="form-group">
        <label>通过在下面的输入框中键入笔记标题，或在树中选中笔记打开笔记。</label>
        <div class="input-group">
            <input class="form-control note-autocomplete" placeholder="按名称搜索笔记">
        </div>
    </div>
</div>