<div class="note-detail-file note-detail-component">
    <table class="file-table">
        <tr>
            <th>笔记 ID:</th>
            <td class="file-note-id"></td>
        </tr>
        <tr>
            <th>原始文件名:</th>
            <td class="file-filename"></td>
        </tr>
        <tr>
            <th>文件类型:</th>
            <td class="file-filetype"></td>
        </tr>
        <tr>
            <th>文件大小:</th>
            <td class="file-filesize"></td>
        </tr>
        <tr class="file-preview-row">
            <th>预览:</th>
            <td>
                <pre class="file-preview-content"></pre>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="file-download btn btn-primary" type="button">下载</button>
                &nbsp;
                <button class="file-open btn btn-primary" type="button">打开</button>
            </td>
        </tr>
    </table>
</div>