<div class="note-detail-relation-map note-detail-component">
    <button class="relation-map-create-child-note btn btn-sm floating-button" type="button"
            title="创建新的子笔记并将其添加到此关系图中">
        <span class="jam jam-plus"></span>

        Create child note
    </button>

    <button type="button"
            class="relation-map-reset-pan-zoom btn icon-button floating-button jam jam-crop"
            title="重置初始坐标和放大倍率"
            style="right: 70px;"></button>

    <div class="btn-group floating-button" style="right: 10px;">
        <button type="button"
                class="relation-map-zoom-in btn icon-button jam jam-search-plus"
                title="放大"></button>

        <button type="button"
                class="relation-map-zoom-out btn icon-button jam jam-search-minus"
                title="缩小"></button>
    </div>

    <div class="relation-map-wrapper">
       <div class="relation-map-container"></div>
    </div>
</div>