<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>设置</title>
</head>
<body>
<noscript>Trilium requires JavaScript to be enabled.</noscript>
<div class="container">
    <div id="setup-dialog" class="col-md-12 col-lg-8 col-xl-6 mx-auto" style="padding-top: 25px; font-size: larger; display: none;">
        <h1>Trilium Notes 设置</h1>

        <div class="alert alert-warning" id="alert" style="display: none;">
        </div>

        <div id="setup-type" data-bind="visible: step() == 'setup-type'" style="margin-top: 20px;">
            <div class="radio" style="margin-bottom: 15px;">
                <label><input type="radio" name="setup-type" value="new-document" data-bind="checked: setupType">
                   我是新用户，我想为我的笔记创建新的Trilium文档 </label>
            </div>
            <div class="radio" data-bind="if: instanceType == 'server'" style="margin-bottom: 15px;">
                <label><input type="radio" name="setup-type" value="sync-from-desktop" data-bind="checked: setupType">
                    我已经有桌面实例，我想设置同步</label>
            </div>
            <div class="radio" data-bind="if: instanceType == 'desktop'" style="margin-bottom: 15px;">
                <label><input type="radio" name="setup-type" value="sync-from-server" data-bind="checked: setupType">
                    我有服务器实例，我想设置与它同步</label>
            </div>

            <button type="button" data-bind="disable: !setupTypeSelected(), click: selectSetupType" class="btn btn-primary">下一步</button>
        </div>

        <div data-bind="visible: step() == 'new-document'">
            <h2>新文件</h2>

            <p>你差不多完成了设置。最后一件事是选择用于登录应用程序的用户名和密码。此密码还用于生成加密受密保护的加密密钥。</p>

            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" data-bind="value: username" placeholder="选择字母数字组成的用户名">
            </div>
            <div class="form-group">
                <label for="password1">密码</label>
                <input type="password" class="form-control" data-bind="value: password1" placeholder="密码">
            </div>
            <div class="form-group">
                <label for="password2">重复输入密码</label>
                <input type="password" class="form-control" data-bind="value: password2" placeholder="密码">
            </div>

            <button type="button" data-bind="click: back" class="btn btn-secondary">返回</button>

            &nbsp;

            <button type="button" data-bind="click: finish" class="btn btn-primary">完成设置</button>
        </div>

        <div data-bind="visible: step() == 'sync-from-desktop'">
            <h2>从桌面同步</h2>

            <p>需要从桌面实例启动此设置:</p>

            <ol>
                <li>请打开Trilium Notes的桌面实例</li>
                <li>单击右上角的“选项”按钮</li>
                <li>单击“同步”选项卡</li>
                <li>将服务器实例地址配置为： <span id="current-host"></span> 然后单击“保存”.</li>
                <li>点击“测试同步”按钮</li>
                <li>完成所有这些后，单击<a href="/">此处</a></li>
            </ol>

            <button type="button" data-bind="click: back" class="btn btn-secondary">返回</button>
        </div>

        <div data-bind="visible: step() == 'sync-from-server'">
            <h2>从服务器同步</h2>

            <p>请在下面输入Trilium服务器地址和凭据。这将从服务器下载整个Trilium文档并设置同步到它。根据文档大小和连接速度，这可能需要一段时间。</p>

            <div class="form-group">
                <label for="sync-server-host">Trilium服务器地址</label>
                <input type="text" id="syncServerHost" class="form-control" data-bind="value: syncServerHost" placeholder="https://<hostname>:<port>">
            </div>
            <div class="form-group">
                <label for="sync-proxy">代理服务器 (optional)</label>
                <input type="text" id="sync-proxy" class="form-control" data-bind="value: syncProxy" placeholder="https://<hostname>:<port>">

                <p><strong>Note:</strong> If you leave proxy setting blank, system proxy will be used (applies to desktop/electron build only)</p>
            </div>
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" id="username" class="form-control" data-bind="value: username" placeholder="用户名">
            </div>
            <div class="form-group">
                <label for="password1">密码</label>
                <input type="password" id="password1" class="form-control" data-bind="value: password1" placeholder="密码">
            </div>

            <button type="button" data-bind="click: back" class="btn btn-secondary">返回</button>

            &nbsp;

            <button type="button" data-bind="click: finish" class="btn btn-primary">完成设置</button>
        </div>

        <div data-bind="visible: step() == 'sync-in-progress'">
            <h2>同步正在进行中</h2>

            <div class="alert alert-success">已正确设置同步。初始同步完成需要一些时间。完成后，您将被重定向到登录页面。</div>

            <div data-bind="if: instanceType == 'desktop'">
                Outstanding sync items: <strong id="outstanding-syncs">N/A</strong>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const baseApiUrl = 'api/';
    const glob = {
        sourceId: ''
    };
    const syncInProgress = <%= syncInProgress ? 'true' : 'false' %>;
</script>

<!-- Required for correct loading of scripts in Electron -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<script src="libraries/jquery.min.js"></script>
<script src="libraries/jquery.hotkeys.js"></script>

<link href="libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="libraries/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="libraries/knockout.min.js"></script>

<script src="javascripts/setup.js" crossorigin type="module"></script>
</body>
</html>
