<div class="note-detail-sidebar">
    <div style="text-align: center; margin-bottom: 10px;">
        <button class="hide-sidebar-button" style="background: none; border: none;">隐藏边栏 <span class="jam jam-chevron-right"></span></button>
    </div>

    <div class="note-detail-widgets"></div>
</div>