<div class="note-title-row">
    <div style="display: flex; align-items: center;">
        <div class="dropdown hide-toggle">
            <button class="btn btn-sm dropdown-toggle note-path-list-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="note-path-count">1 path</span>

                <span class="caret"></span>
            </button>
            <ul class="note-path-list dropdown-menu" aria-labelledby="note-path-list-button">
            </ul>
        </div>

        <input autocomplete="off" value="" class="note-title" tabindex="1">

        <span class="saved-indicator jam jam-check" title="所有更改都已保存"></span>

        <div class="hide-toggle" style="display: flex; align-items: center;">
            <button class="btn btn-sm icon-button jam jam-play render-button"
                    style="display: none; margin-right: 10px;"
                    title="Render"></button>

            <button class="btn btn-sm icon-button jam jam-play execute-script-button"
                    style="display: none; margin-right: 10px;"
                    title="执行 (Ctrl+Enter)"></button>

            <div class="btn-group btn-group-xs">
                <button type="button"
                        class="btn btn-sm icon-button jam jam-shield-check protect-button"
                        title="只有输入密码后才能查看和编辑受保护的笔记">
                </button>

                <button type="button"
                        class="btn btn-sm icon-button jam jam-shield-close unprotect-button"
                        title="无需输入密码即可查看未受保护的笔记">
                </button>
            </div>

            &nbsp; &nbsp;

            <div class="note-type-wrapper" style="display: flex;">
                <div class="dropdown note-type">
                    <button data-bind="disable: isDisabled()" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm dropdown-toggle">
                        类型: <span data-bind="text: typeString()"></span>
                        <span class="caret"></span>
                    </button>
                    <div class="note-type-dropdown dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-bind="click: selectText, css: { selected: type() == 'text' }"><span class="check">&check;</span> <strong>文本</strong></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-bind="click: selectRelationMap, css: { selected: type() == 'relation-map' && mime() == '' }"><span class="check">&check;</span> <strong>关系图</strong></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-bind="click: selectRender, css: { selected: type() == 'render' && mime() == '' }"><span class="check">&check;</span> <strong> HTML笔记</strong></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-bind="click: selectCode, css: { selected: type() == 'code' && mime() == '' }"><span class="check">&check;</span> <strong>代码</strong></a>
                        <!-- ko foreach: codeMimeTypes -->
                        <a class="dropdown-item" data-bind="click: $parent.selectCodeMime, css: { selected: $parent.type() == 'code' && $parent.mime() == mime }"><span class="check">&check;</span> <span data-bind="text: title"></span></a>
                        <!-- /ko -->
                    </div>
                </div>

                <div class="dropdown note-actions">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm dropdown-toggle">
                        笔记操作
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item show-note-revisions-button" data-bind="css: { disabled: type() == 'file' || type() == 'image' }">修订记录</a>
                        <a class="dropdown-item show-attributes-button"><kbd>Alt+A</kbd> 属性</a>
                        <a class="dropdown-item show-link-map-button">链接地图</a>
                        <a class="dropdown-item show-source-button" data-bind="css: { disabled: type() != 'text' && type() != 'code' && type() != 'relation-map' && type() != 'search' }">笔记源码</a>
                        <a class="dropdown-item import-files-button">导入笔记</a>
                        <a class="dropdown-item export-note-button" data-bind="css: { disabled: type() != 'text' }">导出笔记</a>
                        <a class="dropdown-item print-note-button">打印笔记</a>
                        <a class="dropdown-item show-note-info-button">笔记信息</a>
                    </div>
                </div>

                <button class="btn btn-sm icon-button jam jam-chevron-left show-sidebar-button" title="显示侧边栏"></button>
            </div>
        </div>
    </div>
</div>